@use '@styles/variables' as v;

.mainCounterOneElement {
  border: 3px solid v.$primary;
  border-radius: 10px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 100%;

  span {
    font-size: 100px;
    font-weight: bold;
  }


}

.mainCounterElements {
  border: 3px solid v.$primary;
  border-radius: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  span {
    font-size: 40px;
    font-weight: bold;
  }


}