$primary: #63dbfd;

.counter {
  max-width: 300px;
  border: 3px solid $primary;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;

  button {
    border: none;
    border-radius: 5px;
    min-width: 100px;
    font-size: 40px;
    font-weight: bold;
    background-color: $primary;


    &:hover {
      background-color: darken($primary, 40%);
      cursor: pointer;
    }
     &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }

}

.main {
  background-color: $primary;
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  span {
    font-size: 40px;
    font-weight: bold;
  }

  .maxCount{
    color: red;
  }

}

.wrapper_button {
  border: 3px solid $primary;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;

}

