@use '@styles/variables' as v;

.counter {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

}

input {
  font-size: 40px;
  font-weight: bold;
  color: v.$primary;
  background-color: #242424;
  border: 3px solid v.$primary;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  &:focus {
    outline: 3px solid #7bacf8;
    border-color: lighten(v.$primary, 10%);
    box-shadow: 0 0 8px rgba(v.$primary, 0.4);
  }

}

.errorInput {
  border: 3px solid red;
  &:focus {
    outline: 3px solid red;
    border-color: red;
    box-shadow: 0 0 8px rgba(red, 0.4);
  }
}




